#header{
    position: relative;
    padding-top: 5px;
}

#carousel{
    position:relative;
    height:300px;
    width: 940px;
    background-color: whitesmoke;
}
#left-btn{
    position: relative;
    float: left;
    margin-top: 100px;
}

#right-btn{
    position: relative;
    float: right;
    margin-top: 100px;
}

#promotion{
    color: white;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    padding-top: 10px;
}

.display{
    position:relative;
    height:200px;
    width: 250px;
    background-color: whitesmoke;
}

.learn-more{
    width:100px;
    height:20px;
    background-color: black;
    text-align: center;
    color: white;

}

.info{
    text-align: center;
}

.details{
    text-align: center;
}

#table{
    margin-left: auto;
    margin-right: auto;
}

#blank-area{
    position:relative;
    height:300px;
    width: 940px;
    background-color: whitesmoke;
}

.footer-title {
    position:relative;
    height:50px;
    width: 940px;
    background-color: whitesmoke;
    text-align: center;
}

.footer-title p {
    position: relative;
    padding-top: 15px;
}